{% extends './layout.html'%}

{% block title %}Actualizar Pelicula{% endblock %}

{%block customStyles%}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/crear-registros.css')}}">
{%endblock%}

{% block body %}
<main>
    <div class="header">
        <a type="button" class="btn" href="/home">Regresar</a>
        <p>Actualizar <strong class="negritas">Pelicula</strong></p>
        <p class="subtitle">Porfavor, actualice los datos necesarios</p>
    </div>
    <div class="form-container">
        <form method="POST">
            <div class="mb-4">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" required
                    placeholder="Ingrese el Nombre de la Pelicula" pattern="[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ\s]+"
                    value="{{pelicula.nombre}}">
            </div>
            <div class="mb-4">
                <label class="form-label">Género</label>
                <input type="text" class="form-control" name="genero" required placeholder="Ingrese el Genero"
                    pattern="[a-zA-ZáéíóúÁÉÍÓÚüÜñÑ|]*" value="{{pelicula.genero}}">
                <div id="genero_help" class="form-text">Escriba los generos separados por |</div>
            </div>
            <div class="mb-4">
                <label class="form-label">Duración</label>
                <input type="number" class="form-control" id="duracionId" name="duracion" required
                    placeholder="Ingrese la duración de la pelicula" min="1" value="{{pelicula.duracion}}">
            </div>
            <div class="mb-4">
                <label class="form-label">Inventario</label>
                <input type="number" class="form-control" id="inventarioID" name="inventario" required min="1"
                    placeholder="Ingrese el numero en el inventario" value="{{pelicula.inventario}}">
            </div>
            <div class="btn-submit-container">

                <button type="submit" class="btn btn-submit">Actualizar</button>
            </div>
        </form>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {%for message in messages%}
        <div class="alert alert-danger" role="alert" id="alert">
            <strong>{{message}}</strong>

        </div>
        {%endfor%}

        {% endif %}

        {% endwith %}

    </div>

</main>

<script src="../static/js/formularios.js"></script>
{%endblock%}