{% extends './layout.html' %}


{%block title%}Proyecto Flask Alchemy - Home{%endblock%}

{% block customStyles %}
<link rel="stylesheet" href="{{url_for('static', filename='CSS/index-styles.css')}}">
{% endblock %}

{% block body %}
<main class="main">
    <h1 class="title">Bienvenido a ClonBuster, elige una de las opciones debajo</h1>
    <div class="card-container">



        <div class="card text-bg-dark">
            <div class="card-body">
                <h2 class="card-title">Usuarios</h2>
                <p class="card-text">CRUD para el Usuario.</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Seleccione una accion
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{ url_for('usuario.ver_usuarios') }}">Obtener
                            todos
                            los Usuarios</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('usuario.crear_usuario') }}">Crear Usuario</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('usuario.eliminar_usuario') }}">Borrar Usuario</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Actualizar información de Usuario</a></li>
                </ul>


            </div>
        </div>
        <div class="card text-bg-dark dark">
            <div class="card-body">
                <h2 class="card-title">Peliculas</h2>
                <p class="card-text">CRUD para las Peliculas.</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Seleccione una accion
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{ url_for('peliculas.ver_peliculas') }}">Obtener todas las
                            Peliculas</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('peliculas.crear_pelicula') }}">Crear Pelicula</a>
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('peliculas.eliminar_pelicula') }}">Borrar Pelicula</a>
                    </li>
                    <li><a class="dropdown-item" href="#">Actualizar
                            información de una Pelicula</a></li>
                </ul>
            </div>
        </div>
        <div class="card text-bg-dark dark">
            <div class="card-body">
                <h2 class="card-title">Rentas</h2>
                <p class="card-text">CRU para las Rentas.</p>
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Seleccione una accion
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="{{ url_for('rentas.ver_rentas') }}">Obtener todas las Rentas</a>
                    </li>
                    <li><a class="dropdown-item" href="{{ url_for('rentas.crear_renta') }}">Crear Renta</a></li>
                    <li><a class="dropdown-item" href="#">Borrar Renta</a></li>
                    <li><a class="dropdown-item" href="#">Actualizar información de Renta</a></li>
                </ul>
            </div>
        </div>

    </div>
    <script src="{{url_for('static', filename='js/usuarios.js')}}"></script>
</main>



{% endblock %}