{% extends './layout.html'%}

{% block title %}Solicitar Id - Peliculas{% endblock %}

{%block customStyles%}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/pedir-id.css')}}">
{%endblock%}

{% block body %}
<main>
    <div class="header">
        <a type="button" class="btn" href="/home">Regresar</a>
        <p>{{texto1}} <strong class="negritas">Pelicula</strong></p>
        <p class="subtitle">Porfavor, ingrese el id de la pelicula a {{texto2}}</p>
    </div>
    <div class="form-container">
        <form method="POST" {% if texto2=='eliminar' %}
            onsubmit="return confirm('¿Estás seguro de borrar este registro?');" {%endif%}>
            <div class="mb-4">
                <label class="form-label">Id Pelicula</label>
                <input type="number" class="form-control" name="idPelicula" required
                    placeholder="Ingrese el id de la pelicula a {{texto2}}" min="1">
            </div>
            <div class="btn-submit-container">

                <button type="submit" class="btn btn-submit" id="eliminar-form">{{texto1}}</button>
            </div>
        </form>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
        {%for message in messages%}
        <div class="alert {% if message == 'Pelicula eliminada correctamente' %}alert-primary{%else%}alert-danger{%endif%}"
            role="alert" id="alert">
            <strong>{{message}}</strong>

        </div>
        {%endfor%}

        {% endif %}

        {% endwith %}

    </div>

</main>

<script src="../static/js/formularios.js"></script>
{%endblock%}