.mainContainer {
    height: 100vh;
    background-color: #1b1c1c;


    padding: 80px 80px 0 80px;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
}



.negritas {
    color: #8bc9f9;
}

.btn {
    position: absolute;
    margin-top: 22px;
    background-color: #8bc9f9;
    color: #1b1c1c;
    font-weight: bold;
}

.btn:hover {
    background-color: #8fcdffcc;
    transform: scale(1.1);
}


.columnTitle {
    background-color: #788898;
}