html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #1b1c1c;
    color: white;
    height: 100vh;
}

.title {
    text-align: center;
    margin-top: 80px;


}

.main {
    height: 100%;
    padding-top: 80px;
}

.card {
    border-color: #cfd0d1;
    border-radius: 0.75rem;
    width: 400px;
    height: 300px;
}

.card-body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 80%;
}

.btn {
    background-color: #8fcdff;
    color: #1a1c1e;
}